* {
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 400px 1fr;
    height: 100%;
}

.sidebar {
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-row-start: 1;
    grid-row-end: -1;

    background-color: rgb(41, 69, 107);
    color: white;
    padding-left: 25px;
    padding-right: 25px;

    width: 400px;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 50px;
    align-content: center;
    text-align: center;
    align-items: center;
    height: 90%;
}

.dashboard img {
    height: 80px;
}

.icon-group-container {
    display: grid;
    gap: 70px;

    grid-template-rows: 300px 1fr;
}

.icon-group {
    font-size: 25px;
    display: grid;
    align-items: center;

    grid-template-rows: 50px 50px 50px 50px 50px 50px;
}

.home img {
    height: 30px;
}

.home {
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
    gap: 10px;
}

.settings {
    display: grid;
    font-size: 25px;
    align-items: center;

    grid-template-rows: 50px 50px 50px;
}

.main-content-area {
    display: grid;
    grid-template-rows: 250px 1fr;  
}

.header {
    display: grid;

    grid-template-rows: 110px 1px;
    padding: 15px 25px 0px;
}

.searchbar-container {
    display: grid;

    grid-template-columns: 3fr 1fr;
}

.searchbar {
    display: grid;

    grid-template-columns: 25px 1fr;
    align-items: center;

    padding-right: 150px;
    gap: 10px;
}

.searchbar input {
    max-width: 450px;

    border-radius: 10px;
    height: 30px;

    border-style: none;
    background-color: lightgray;

    padding-left: 10px;
}

.user-panel {
    display: grid;

    grid-template-columns: 50px 100px 1fr;
    align-items: center;

    gap: 5px;
    justify-self: end;
    justify-items: center;
}

#user-panel-icon {
    height: 75px;
}

#user-panel-name {
    font-size: 18px;
    font-weight: bold;
    padding: 0px 10px;
}

#notification-icon {
    height: 30px;
}

.searchbar-container-lower {
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-items: center;
}

.user-icon-name {
    display: grid;
    grid-template-columns: 90px 1fr;

    align-items: center;
}

.user-name-container {
    font-weight: bold;
}

.user-icon-name img {
    height: 100px;
}

.user-name {
    font-size: 26px;
}

.media-btn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-self: end;
}

.media-btn div {
    display: grid;
    align-items: center;
    width: 100px;
    height: 45px;

    border-radius: 20px;

    margin: 0px 20px;

    font-size: 20px;
    background-color: rgb(61, 89, 127);
    text-align: center;
    color: white;
}

.main {
    background-color: lightgray;

    box-shadow: inset 0px 5px 5px gray;

    display: grid;
    grid-template-columns: 1fr 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.card-container {
    display: grid;
    grid-template-rows: 50px 1fr;
}

.project-title {
    font-size: 22px;
    font-weight: bold;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-template-rows: repeat(auto-fit, 250px);

    gap: 25px;
}

.card {
    display: grid;
    background-color: white;

    height: 250px;
    border-radius: 25px;

    padding: 30px 20px;
    box-shadow: inset 10px 0px 0px 0px goldenrod;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-text {
    color: rgba(100, 100, 100, 75);
}